<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filmes</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    
    <header>
        <nav>

            <div class="div">
                <p class="titulo">Filmes</p>
                <img style="height: 189px; width: 400px; box-sizing: border-box" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSNv59HXqL1-YTUcY6Ast3sYHrjeDTqLgYGpfgepgN_WNw0HhSuQ1Ga6PGx&s=10" alt="">
            </div>
            
            <ul class="topicos">
                <button class="link" style="margin-right: 15px;" href="/filmes">Lista de Filmes</button>
                <button class="link" href="/perfil">Perfil</button>
            </ul>

        </nav>

    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <nav>
            <ul>
                <li class="link2"><a href="">Github</a></li>
                <li class="link2"><a href="">Github</a></li>
                <li class="link2"><a href="">Github</a></li>
            </ul>
            <p>Desenvolvido por &copy;wangling</p>
        </nav>
    </footer>

</body>
</html>